@import "components/boot/variables.css";

.bf-FeedbackModalResend {
  & > p {
    margin: 0 0 2.7rem;
    font-size: 2.2rem;
    color: var(--grey5);
    text-align: center;

    & > strong {
      font-weight: bold;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
