@import "components/boot/variables.css";

.bf-MoodTimelineZoomSelector {
  margin-left: auto;
  font-size: 1.2rem;
  padding: 0.5rem 0.9rem;
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  width: 12rem;
  background: url("./iconSelectArrow.svg") no-repeat right var(--green2);
  background-position: right 1.1rem center;
  padding-right: 1.1rem;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}
