@import "components/boot/variables.css";

.bf-TeamTagsEditModal {
  &-users {
    box-sizing: border-box;
    max-height: 26rem;
    overflow-y: auto;
    border-radius: 0.3rem;
  }

  &-user {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 3.2rem;
    padding: 1rem;
    padding-left: 1.3rem;
    background-color: var(--white);

    & + & { margin-top: 1px; }

    &-name {
      color: var(--grey5);
      font-size: 1.2rem;
      font-weight: bold;
    }

    &-suffix {
      color: var(--black);
      font-size: 1rem;
      &::before { content: "\a0"; }
    }

    & > a {
      text-transform: uppercase;
      font-size: 1rem;
      padding: 0.2rem 0.5rem;
      border-radius: 3px;
      color: var(--green1);
      border: 1px solid var(--green1);
      margin-left: auto;
      cursor: pointer;
    }

    & > i {
      margin-left: auto;
      cursor: pointer;
      & > svg > path { fill: var(--green1); }
    }

    &.is-manager {
      background-color: var(--green1);

      & .bf-TeamTagsEditModal-user-name {
        color: var(--green2);
      }

      & .bf-TeamTagsEditModal-user-suffix {
        color: var(--white);
      }

      & > a {
        color: var(--white);
        border-color: var(--white);
      }

      & > i > svg > path {
        fill: var(--white);
      }
    }
  }

  &-togglers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    @media (--before-small) {
      flex-direction: column;
      & > div { width: 100%; }
    }
  }

  &-toggle {
    height: 5.6rem;
    width: 23.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: var(--grey1);
    padding: 0 1rem;

    & > span {
      color: var(--green2);
      font-size: 1.4rem;
      flex: 1;
      text-align: right;
    }

    & > .bf-InfoCallout {
      margin-left: 1rem;
      width: auto;
    }
  }

  &-footer {
    &-buttons {
      padding: 0 1rem;
      display: flex;
      align-items: center;

      & > a {
        color: var(--red);
        text-decoration: underline;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1.6rem;
      }

      & > button[type="submit"] {
        display: block;
        margin-left: auto;
        text-transform: uppercase;
      }
    }
  }
}
