@import "components/boot/variables.css";

.bf-SettingsAuthGroup {
  background: var(--white);
  padding: 2.3rem 2.8rem 2.7rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;

  &-title {
    color: var(--grey5);
    font-size: 1.8rem;
    padding-bottom: 1.3rem;
  }

  &-subTitle {
    color: var(--grey7);
    font-size: 1.6rem;
    padding-bottom: 1.8rem;
  }
}
