@import "components/boot/variables.css";

.bf-TeamUsersImportModal {
  font-size: 1.8rem;

  & > span {
    color: var(--green2);
    font-weight: bold;
  }

  & > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 44.6rem;
    height: 27.9rem;
  }
}
