@import "../../components/boot";
@import "../../components/logo-large";
@import "../../components/footer";

.error-page {
  background: linear-gradient(to bottom, var(--green1), var(--green2));
  background-attachment: fixed;
}

.error-page-body {
  flex: 1;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  max-width: 64rem;
  margin: 2rem auto;
  padding: 1rem;
  align-items: center;
  box-sizing: border-box;

  &__left {
    flex: 0 0 50%;
    width: 21.6rem;
    height: 40.5rem;
    padding-right: 3.5rem;

    @media (--before-small) {
      display: none;
    }

    &--small {
      flex: 0 0 19rem;
    }
  }

  &__right {
    flex: 0 0 50%;
    padding-left: 3.5rem;

    @media (--before-small) {
      padding: 0;
      flex: 1;
      text-align: center;
    }

    &--full-size {
      flex: 1;
    }

    & > .logo-large {
      width: 6.4rem;
      height: 7.4rem;
    }

    &__title {
      padding: 3rem 0;
      font-size: 3.2rem;
      color: var(--green3);
    }

    &__text {
      color: var(--white);
      padding-bottom: 2.1rem;
    }

    &__link {
      color: var(--green1);
    }
  }
}
