@import "components/boot/variables.css";

.bf-TeamUsers {
  padding: 0 1.2rem;
  box-sizing: border-box;
  width: 100%;
  -webkit-overflow-scrolling: auto; /* stop iOS scroll optimizations */
}

.bf-TeamUsersHeader {
  font-size: 1.2rem;
  background-color: transparent;
  font-weight: bold;

  & > .bf-TeamUsersRow {
    background-color: transparent;
    &:hover { background-color: transparent; }

    & > .bf-TeamUsersCell {
      padding: 1.2rem 0.6rem;

      & > span {
        text-decoration: underline;
        color: var(--grey6);
        cursor: pointer;

        &.is-active {
          text-decoration: none;
          color: var(--grey7);
          cursor: default;
        }
      }
    }
  }
}

.bf-TeamUsersRow {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 1.3rem;
  color: var(--grey5);
  background-color: var(--white);
  background-clip: padding-box;
  border-radius: 0.3rem;

  & + & {
    margin-top: 0.1rem;
  }

  &.is-selected,
  &:hover {
    background-color: var(--grey2);
  }
}

.bf-TeamUsersCell {
  box-sizing: border-box;
  padding: 1.2rem 0.6rem;
  min-width: 2rem;
  font-size: 1.2rem;
  color: var(--grey6);

  &.is-checkbox {
    width: 3rem;
  }

  &.is-fullname {
    flex: 1;
  }

  &.is-channel {
    width: 10rem;
    text-transform: capitalize;

    @media (--before-small) { display: none; }
  }

  &.is-modified {
    width: 16rem;

    @media (--before-small) { display: none; }
  }

  & > a {
    color: var(--green1);
  }
}

.bf-TeamUsersFullName {
  &-name {
    color: var(--grey5);
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1px;

    @media (--before-small) { font-size: 1.3rem; }

    &-suffix {
      text-transform: uppercase;
      &::before { content: "("; }
      &::after { content: ")"; }
    }

    &.is-action {
      cursor: pointer;
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }
  }

  &-tags {
    font-size: 1.2rem;
    color: var(--green1);
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover { text-decoration: underline; }
  }

  &-addTags {
    font-size: 1.2rem;
    color: var(--green2);
    cursor: pointer;
    &:hover { text-decoration: underline; }
  }

  &-resendButton {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;

    & > i > svg > path { fill: var(--red); }
  }
}
